/* .App {
  text-align: center;
} */
.search {
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
}

.input {
  width: 100%;
  overflow: hidden;
  border: none;
}

.searchbox {
  width: 100%;
  background-color: rgb(228, 228, 226);
  font-family: Lucida, Sans-Serif;
  border-radius: 2px;
}

.searchbox:hover {
  background-color: rgb(184, 181, 185);
}

.searchwindow {
  background-color: rgb(228, 228, 226);
  display: flex;
  flex-direction: column;
}

.markerHead {
  display: flex;
  overflow: hidden;
}

.markerInfo {
  color: rgb(44, 39, 12);
  border: 3px solid rgb(187, 183, 163);
  overflow: hidden;
  background-color: rgb(255, 253, 244);
  width: 25vmax;
  height: 20vmax;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  right: -15vw;
  bottom: -3vh;
  overflow: auto;
}

/* .markerInfo:hover {
  overflow: hidden;
  background-color: rgb(227, 236, 205);
  width: 25vw;
  height: 20vh;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  flex-direction: relative;
  position: absolute;
  z-index: 10;
} */

.markerSymbol {
  position: absolute;
  z-index: -1;
}

.markerBottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  right: 5%;
  align-items: center;
}

.component {
  margin-left: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  color: rgb(45, 41, 54);
  background-color: aliceblue;
  z-index: 100;
  border-color: cornflowerblue;
  border-radius: 3px;
  border-style: solid none solid none;
  border-width: 3px;
  overflow: auto;
  /* display: grid;
  grid-column: auto; */
}

.invalid {
  position: fixed;
  width: 60%;
  height: 3vh;
  left: 50%;
  z-index: 200;
  background-color: rgb(245, 242, 207);
  color: crimson;
}

.row {
  height: 8vh;
  display: flex;
  max-width: 100%;
  transform: translateX(25px);
  margin: auto;
  /* justify-content: center;
  align-content: center; */
}

p {
  padding-left: 3%;
}

.logo {
  position: fixed;
  background-image: url(./OK.png);
  height: 150px;
  width: 165px;
  background-position: 15% 20%;
}

.okorona {
  display: fixed;
  transform: translate(75%, 50%);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(45, 41, 54);
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button {
  display: inline-block;
  border-radius: 2px;
  background-color: rgb(59, 79, 116);
  color: rgb(241, 235, 235);
  text-align: center;
  max-width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}

.button:hover {
  display: inline-block;
  cursor: pointer;
  transition: background-color 600ms;
  border-radius: 2px;
  background-color: cornflowerblue;
  color: rgb(241, 235, 235);
  text-align: center;
  max-width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}

#navigate {
  border: 3px;
  background-color: darkblue;
  color: whitesmoke;
}

/* .button {
  color: #fff;
  text-transform: uppercase;

  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
} */
/* .button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: darken(#0cf, 15%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button:hover {
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
} */

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.toggle {
  display: inline-block;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
  background-color: darkgoldenrod;
  color: rgb(241, 235, 235);
  text-align: center;
  max-width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .toggle {
  display: inline-block;
  transition: background-color 1s, color 1s;
  border-radius: 10px;
  background-color: rgb(86, 88, 92);
  color: rgb(68, 63, 63);
  text-align: center;
  max-width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}
