/* .App {
  text-align: center;
} */
@media only screen and (max-width: 600px) {
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    color: rgb(45, 41, 54);
    background-color: aliceblue;
    z-index: 100;
    border-color: cornflowerblue;
    border-radius: 3px;
    border-style: solid none solid none;
    border-width: 3px;
    overflow: auto;
    z-index: 102;
  }
  .okorona {
    transform: translate(40vw, 10vh);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(45, 41, 54);
    font-size: 8vw;
    height: 10vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .search {
    border: 2px solid rgb(65, 62, 62);
    border-radius: 3px;
    outline: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1vmin;
    height: 4vh;
    display: flex;
    width: 50vw;
  }
  .searchbox {
    background-color: transparent;
    font-family: Lucida, Sans-Serif;
    border-radius: 2px;
    width: 50vw;
  }
  .searchwindow {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  .markerInfo {
    color: rgb(44, 39, 12);
    /*rgb(255, 253, 244)*/
    border: 3px solid rgb(187, 183, 163);
    overflow: hidden;
    background-color: rgb(255, 253, 244);
    font-size: 2vw;
    width: 25vmax;
    height: 20vmax;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -15vw;
    bottom: -3vh;
    overflow: auto;
  }
}
.search {
  border: 1.5px solid rgb(3, 4, 48);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1vmin;
  height: 4vh;
  display: flex;
  width: 40vw;
  font-weight: bold;
  z-index: 102;
}
.searchbar {
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: transparent;
  color: rgb(65, 62, 62);
  display: table-cell;
  z-index: 102;
}
.searchbutton {
  cursor: "pointer";
  height: 100%;
  width: 100%;
  transform: scale(2em);
}

.searchbox {
  background-color: transparent;
  font-family: Lucida, Sans-Serif;
  border-radius: 2px;
  width: 40vw;
  padding: 1px;
  margin-top: 2px;
  z-index: 102;
}
.space {
  margin: 2vh;
}

.searchbox:hover {
  background-color: rgb(184, 181, 185);
}

.searchwindow {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  width: 40vw;
  transform: translate(1.5%, -7px);
  z-index: 102;
  padding: 2px;
}

.markerHead {
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 100;
  margin: 3px;
}

.markerSymbol {
  position: absolute;
  cursor: pointer;
  z-index: 0;
}

.markerInfo {
  color: rgb(44, 39, 12);
  /*rgb(255, 253, 244)*/
  border: 3px solid rgb(187, 183, 163);
  overflow: hidden;
  background-color: rgb(255, 253, 244);
  font-size: 1vw;
  width: 20vmax;
  height: 15vmax;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -15vw;
  bottom: -3vh;
  overflow: auto;
  z-index: 1;
}

.markerBottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  right: 5%;
  align-items: center;
  z-index: 100;
}

.component {
  margin-left: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  color: rgb(45, 41, 54);
  background-color: aliceblue;
  z-index: 100;
  border-color: cornflowerblue;
  border-radius: 3px;
  border-style: solid none solid none;
  border-width: 3px;
  overflow: auto;
  z-index: 102;
}

.invalid {
  position: fixed;
  right: 5%;
  top: 30%;
  z-index: 200;
  background-color: rgb(245, 242, 207);
  color: crimson;
}
form {
  max-width: 100%;
}

.row {
  height: 8vh;
  display: flex;
  max-width: 100%;
  /* justify-content: center;
  align-content: center; */
}

p {
  padding-left: 3%;
}

.logo {
  position: fixed;
  background-image: url(./OK.png);
  height: 150px;
  width: 165px;
  background-position: 15% 20%;
}

.okorona {
  transform: translate(75%, 50%);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(45, 41, 54);
  font-size: 5vw;
  height: 10vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button {
  display: inline-block;
  border-radius: 2px;
  background-color: rgb(59, 79, 116);
  color: rgb(241, 235, 235);
  text-align: center;
  max-width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
  cursor: pointer;
}

.button:hover {
  display: inline-block;
  cursor: pointer;
  transition: background-color 600ms;
  border-radius: 2px;
  background-color: cornflowerblue;
  color: rgb(241, 235, 235);
  text-align: center;
  max-width: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
}

/* #navigate {
  border: 3px;
  background-color: darkblue;
  color: whitesmoke;
} */

.tab {
  bottom: 0;
  position: absolute;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 223, 215);
  width: 100%;
  margin: 0, 1vw, 0, 1vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle:hover {
  border: 1px solid rgb(221, 228, 125);
}
.toggle2:hover {
  border: 1px solid rgb(221, 228, 125);
}
.toggle3:hover {
  border: 1px solid rgb(221, 228, 125);
}
.toggle {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
  background-color: rgb(62, 226, 98);
  color: rgb(241, 235, 235);
  text-align: center;
  margin: 3px;
  padding: 1vh;
  z-index: 101;
  cursor: pointer;
}

input:checked + .toggle {
  position: relative;
  display: inline-block;
  transition: background-color 1s, color 1s;
  background-color: rgb(67, 77, 77);
  border-radius: 10px;
  color: rgb(122, 117, 117);
  text-align: center;
  margin: 3px;
  padding-left: 1vh;
  padding-right: 1vh;
  z-index: 101;
}

.toggle2 {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
  background-color: rgb(247, 129, 50);
  color: rgb(241, 235, 235);
  text-align: center;
  margin: 3px;
  padding: 1vh;
  z-index: 101;
}

input:checked + .toggle2 {
  position: relative;
  display: inline-block;
  transition: background-color 1s, color 1s;
  background-color: rgb(67, 77, 77);
  border-radius: 10px;
  color: rgb(122, 117, 117);
  text-align: center;
  margin: 3px;
  padding-left: 1vh;
  padding-right: 1vh;
  z-index: 101;
}

.toggle3 {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  transition: background-color 1s, color 1s;
  background-color: rgb(236, 59, 59);
  color: rgb(241, 235, 235);
  text-align: center;
  margin: 3px;
  padding: 1vh;
  z-index: 101;
}

input:checked + .toggle3 {
  position: relative;
  display: inline-block;
  transition: background-color 1s, color 1s;
  background-color: rgb(67, 77, 77);
  border-radius: 10px;
  color: rgb(122, 117, 117);
  text-align: center;
  margin: 3px;
  padding-left: 1vh;
  padding-right: 1vh;
  z-index: 101;
}

.circle {
  width: 100px;
  height: 100px;
  padding: 50px;
  border-radius: 200px;
  border: double 15px rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
}

.welcome {
  justify-content: center;
  padding: 3%;
  width: auto;
  height: auto;
}
